<!DOCTYPE html>
<html lang="zh-Hans" dir="ltr">
  <head>
    <link rel="icon" href="icon.jpg" type="image/jpg">
    <meta charset="utf-8">
    <title>哔咔漫画</title>
    <link href="//fonts.proxy.ustclug.org/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <!--<link href="//use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
    <link href="//cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  </head>
  <body>
    <div id="app" style="display:none"><v-app>
      <v-card id="main">
        <v-app-bar color="#f0a1a8" dark app fixed>
          <v-toolbar-title v-if="$route.name=='login'">登陆</v-toolbar-title>
          <v-row width="100%" style="top:10px;position:relative;" no-gutters>
          <v-col cols=7 v-if="$route.name!='images'&&$route.name!='login'">
            <v-text-field id="_search" v-model="keyword" append-outer-icon="search" @click:append-outer="search()" @keydown.enter="search()" label="搜索"></v-text-field>
            <v-menu activator="#_search" offset-y width="100%">
              <v-list dense>
                <v-subheader>大家都在搜</v-subheader>
                <v-list-item v-for="key in keywords" dense @click="keyword=key;search()">
                  <v-list-item-content>
                    <v-list-item-title v-text="key"></v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-menu>
          </v-col>
          <v-spacer>
          </v-spacer>
          <v-col cols="1" v-if="$route.name=='images'||$route.name=='comics'">
            <v-text-field @keydown.enter="reload_page()" v-model="global.page" width="100%"></v-text-field></v-col>
          </v-col>
          <v-col cols="1" v-if="$route.name=='images'||$route.name=='comics'" style="top:4px;position:relative;white-space:nowrap;">
            /{{global.pages}}
          </v-col>
          <v-col cols="2" v-if="$route.name=='comics'" style="top:4px;position:relative;text-align:right;white-space:nowrap;">
              <abbr id="_sort">{{sorts[global.sort]}}</abbr>
              <v-menu activator="#_sort" offset-y width="100%">
                <v-list dense>
                  <v-subheader>排序方式</v-subheader>
                  <v-list-item v-for="s1,s2 in sorts" dense @click="global.sort=s2;reload_comics()">
                    <v-list-item-content>
                      <v-list-item-title v-text="s1"></v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-menu>
          </v-col>
          <v-col cols="2" v-if="$route.name=='main'" style="top:4px;position:relative;text-align:right;white-space:nowrap;">
              <abbr onclick="localStorage.clear();location.reload()">清除缓存</abbr>
          </v-col>
          <v-col cols="2" v-if="$route.name=='images'||$route.name=='detail'" style="top:4px;position:relative;text-align:right">
              <abbr id="_quality">{{qualities[global.quality]}}</abbr>
              <v-menu activator="#_quality" offset-y width="100%">
                <v-list dense>
                  <v-subheader>图片质量</v-subheader>
                  <v-list-item v-for="s1,s2 in qualities" dense @click="global.quality=s2;reload_images()">
                    <v-list-item-content>
                      <v-list-item-title v-text="s1"></v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-menu>
          </v-col>
        </v-row></v-app-bar>
        <keep-alive><router-view v-if="$route.meta.keep_alive"></router-view></keep-alive>
        <router-view v-if="!$route.meta.keep_alive"></router-view>
        <v-snackbar centered v-model="global.snackbar.on" timeout="1000" :color="global.snackbar.color" style="padding-top:0px">
          <div style="height:100%;width:100%;text-align:center">{{global.snackbar.message}}</div>
        </v-snackbar>
      </v-card>
    </v-app></div>
    <script src="//cdn.jsdelivr.net/npm/vue@2.x/dist/vue.min.js"></script>
    <script src="//unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="//cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js" data-main="js/main.js"></script>
  </body>
</html>
